<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or metadata.title }}</title>
    <meta
      name="description"
      content="{{ description or metadata.description }}"
    />

    <!-- Atom and JSON feeds included by default -->
    <link
      rel="alternate"
      href="/feed/feed.xml"
      type="application/atom+xml"
      title="{{ metadata.title }}"
    />
    <link
      rel="alternate"
      href="/feed/feed.json"
      type="application/json"
      title="{{ metadata.title }}"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="true"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap"
      rel="stylesheet"
    />

    <!-- Umami Analytics -->
    <script async src="/stats/script.js" data-website-id="c1279abb-c803-44c0-9ee0-c75e3448b5dd"></script>

    <!-- Favicons -->
    <link rel="icon" href="/img/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon/favicon-16x16.png"
    />

    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    {% include "partials/site-head.njk" %}
    
    <main id="main">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
