@mixin transition(
  $properties: all,
  $duration: 150ms,
  $timing: var(--timing-in-out-default)
) {
  transition-property: $properties;
  transition-duration: $duration;
  transition-timing-function: $timing;
}

@mixin ready-transition($delay: 0) {
  opacity: 0;
  transform: translateY(var(--size-14));
  @include transition(
    (opacity, transform),
    1500ms,
    var(--timing-in-out-pangram)
  );
  transition-delay: $delay;

  .is-ready & {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin ready-transition-slide-left($delay: 0) {
  opacity: 0;
  transform: translateX(var(--size-14));
  @include transition(
    (opacity, transform),
    1500ms,
    var(--timing-in-out-pangram)
  );
  transition-delay: $delay;

  .is-ready & {
    opacity: 1;
    transform: translateX(0);
  }
}

@mixin animation($name, $duration: 1s, $timing: linear, $iteration: 1) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-iteration-count: $iteration;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce-horizontal {
  0%,
  100% {
    transform: translateX(0%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(25%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
