.home {
  text-align: center;
}
.home__content {
  margin-bottom: var(--space-xl);
}

.home__links {
  display: flex;
  justify-content: center;
}

.home__link {
  margin-inline: var(--size-4);
  color: var(--color-mid);

  transition: color var(--transition-fade);
}
.home__link:hover {
  color: var(--color-mid-shade);
}

.home__link--beer {
  font-size: var(--size-2);
  margin-top: -0.5em;
  text-decoration: none;
  opacity: 0.7;

  transition: opacity var(--transition-fade);
}
.home__link--ber:hover {
  opacity: 1;
}

.home__GHIcon {
  width: var(--size-3);
  height: var(--size-3);
  transition: color var(--transition-fade);
}
