.prose {
  --flow-space: var(--size-4);
  max-width: 50rem;
}
@media screen(md) {
  .prose :is(ul, ol) {
    padding-inline-start: 0.15ch;
  }
}

.prose > img,
.prose > table {
  width: 100%;
}

.prose li + li {
  margin-top: var(--size-2);
}
