.prose {
  --flow-space: var(--size-4);

  max-width: 50rem;

  & > img,
  & > table {
    width: 100%;
  }

  .prose li + li {
    margin-top: var(--size-2);
  }

  @media screen(md) {
    .prose :is(ul, ol) {
      padding-inline-start: 0.15ch;
    }
  }
}
