:root {
  --gutter: var(--space-s-m);

  /* Rounded Corners */
  --border-radius: 0.5rem;
  --border-radius-inner: 0.25rem;

  /* Transitions */
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;

  --timing-in-out-pangram: cubic-bezier(0.075, 0.82, 0.165, 1);
  --timing-in-out-default: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);
  --timing-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);
  --timing-in-out-circ: cubic-bezier(0.85, 0, 0.15, 1);

  /* Layouts */
  --wrapper-width: clamp(16rem, 93vw, 85rem);
}
