---
layout: layouts/page.njk
---
<div class="home">
  <h1 class="home__title">Bonjour</h1>
  <div class="home__content">
    <p class="lead">
      My name is <strong>François Côté</strong>.<br /> I'm a <strong>Web Developer</strong> based in <strong>Montréal</strong>.
    </p>
  </div>
  <div class="home__links">
    <a
      href="https://www.github.com/francoiscote"
      class="home__link home__link--GH"
    >
      <span class="home__GHIcon">{% include "partials/icon-github.njk" %}</span>
    </a>
    {# <a href="/beers" class="home__link home__link--beer">🍻</a> #}
  </div>
</div>