.container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  color: #5c6370;
  background: #eee;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 3em;
  max-width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .main {
    font-size: 2em;
  }
}

@media screen and (max-width: 360px) {
  .main {
    font-size: 1.3em;
  }
}

.dark,
.projectName,
.carret {
  flex: 0 1 auto;
}

.projectName {
  display: inline;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: -2px;
  margin: 0 10px;
  /*border-bottom: 4px solid #FF5252*/
}

.prompt,
.carret {
  font-weight: bold;
}
.prompt {
  color: #e06c75;
}
.carret {
  color: #cccccc;
}

/* Blink */
.blink {
  animation: blink 1200ms step-start 0s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} ; ;
