---
layout: layouts/page.njk
title: Beers - francoiscote.net
---
{% block content %}
  <h1>Beers 🍻</h1>
  <p class="lead">
    Sometimes, I brew beer.
    <br />
    Here is a live view of what is brewing based on the <a href="https://brewfather.app/?via=694b06">Brewfather</a><span class="subtle">*</span> API.
  </p>

  <p>You can also have a look at the detailed <a href="/beers/fermentation-stats">fermentation stats</a> I use to calibrate my equipment profile.</p>
  
  {% for status, beers in beersByStatus %}
    {% if beers.length %}
    <section>
      <h3>{{ status | capitalize }}</h3>
      <ul>
        {% for beer in beers %}
          {% include "partials/beer-card.njk" %}
        {% endfor %}
      </ul>
    </section>
    {% endif %}
  {% endfor %}
{% endblock %}