---
layout: layouts/page.njk
title: Beers 🍻
---
{% block content %}
  <p class="lead">
    Sometimes, I brew beer.
    <br />
    Here is a live view of what is brewing based on the <a href="https://brewfather.app/?via=694b06">Brewfather</a><span class="subtle">*</span> API.
  </p>

  <p>You can also have a look at the detailed <a href="/beers/fermentation-stats">fermentation stats</a> I use to calibrate my equipment profile.</p>
  
  <p className="subtle">* This is an affiliate link, but I truly love this product</p>
  
  {% for status, beers in beers | groupby("status") %}
    {% if beers.length %}
    <section>
      <h2>{{ status | capitalize }}</h2>
      <div class="stack">
        {% for beer in beers %}
          {% include "partials/beer-card.njk" %}
        {% endfor %}
      </div>
    </section>
    {% endif %}
  {% endfor %}
{% endblock %}