<header role="banner" class="site-head wrapper">
  <div class="stretch">
    <a class="site-head__title" href="/">francoiscote.net</a>

    <nav aria-label="primary">
      <ul role="list" class="cluster text-base">
        {% for item in navigation.items %}
          <li>
            <a href="{{ item.url }}">{{ item.label }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>

</header>